.container {
    display: flex ;
    justify-content: center ;
    align-items: center ;
    width: 100% ;
    height: 100vh ;
}

.container p {
    font-size: 60px ;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}